.container 
  {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, auto);
  }
  .firstbox
  {
      grid-column: 4 / 10;
      grid-row: 1 / 1;
      margin: 2rem;
  }
  #LeHavre
  {
      width: 100%;
  }
  
  .secondbox
  {
      grid-column: 4 / 6;
      grid-row-start: 2;
      margin: 3rem;
  }
  #Chirac
  {
      width: 100%;
  }
  .thirdbox
  {
      grid-column: 6 / 8;
      grid-row-start: 2;
      margin: 3rem;
  }
  #docks
  {
      width: 100%;
  }
  .fourthbox
  {
      grid-column: 8 / 10;
      grid-row-start: 2;
      margin: 3rem;
  }
  #road
  {
      width: 100%;
  }

  h1
  {
      color: #1c93ee;
      font-style: normal;
      width: 100%;
      font-family: 'roboto' , sans-serif;
      font-size: 3rem;
      text-transform: uppercase;
  }
 
  .subtitle
  {
      text-transform: uppercase;
      font-size: 4rem;
      font-family: 'lato' , sans-serif;
      margin-top: 3rem;
      margin-bottom: 3rem;
      line-height: 4rem;
  }
  .sum
  {
      text-transform: uppercase;
      font-size: 2rem;
      font-family: 'lato' , sans-serif;
      line-height: 2rem;
  }
  .boldtext
  {
      font-size: 2rem;
      font-weight: bold;
      font-family: 'verdana' , sans-serif;
      margin-top: 3rem;
      margin-bottom: 3rem;
      line-height: 2rem;
  }
 
  .colortitle
  {
      background-color: #c12051;
      text-transform: uppercase;
      font-size: 2rem;
      color: white;
      font-family: 'roboto' , sans-serif;
      margin-top: 3rem;
      margin-bottom: 3rem;
      line-height: 2rem;
  }
  .text
  {
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      line-height: 2rem;

  }
  .content
  {
      margin-top: 5rem;
      margin-bottom: 5rem;
  }
  p
  {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
  }